<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjektnaPO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ProjektnaPO.Properties.Settings>
            <setting name="kcal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="protein" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="carb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fat" serializeAs="String">
                <value>0</value>
            </setting>
        </ProjektnaPO.Properties.Settings>
    </userSettings>
</configuration>